.Rproj.user
.Rhistory
.RData
.Ruserdata

Data/Cluster_Simulation_Outputs/Persistence_Test/

Data/Cluster_Simulation_Outputs/Persistence_Test2/

Code/MA_Cluster_Scripts/Outputs

Data/Cluster_Simulation_Outputs/Simulation_1/

Data/Cluster_Simulation_Outputs/Simulation_2/

Data/Cluster_Simulation_Outputs/Simulation_3/

Data/Cluster_Simulation_Outputs/Simulation_4/
